@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Dancing+Script&family=Great+Vibes&family=Montserrat:ital,wght@0,100;0,400;0,500;1,400;1,700&family=Mr+Dafoe&family=Petit+Formal+Script&display=swap");
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-brand {
  font-family: "Petit Formal Script", "Times new roman";
  font-size: 1.85rem;
}

.carrito{
  width: 2rem;
}

.backgrownd-color{
  background-color: rgb(240, 240, 240);
}

.padding-superior{
  padding-top: 10%;
}

/* .card {
  justify-content: space-between;
} */

.card-img-top{
  max-width: 264px;
  max-height: 280px;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* .aumentar-reducir input{
  margin-left: 5%;
  margin-right: 5%;
} */
.aumentar-reducir {
  height: 2rem;
}

.aumentar-reducir button{
height: 100%;
width: 100%;
}
.product-detail img{
  max-width: 100%;
}

.product-detail p {
  text-align: left;
}

.aumentar-reducir-2{
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 768px){

  .card-animation {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border: none;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.508);
  }

  .card-animation:hover{
    transform: scale(1.05);
    box-shadow: none;
    border-top: none;
  }

  .card {
    margin: 2%;
  }

  .card-text{
height: 168px;
    overflow: hidden;
  }

  .product-detail {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
    gap: 2%;
  }

  .product-detail h1 {
    grid-column: span 2;
  }

  .product-detail p {
    max-height: 200px;
    overflow:auto;
    align-self: center;
  }


  .product-detail img {
    align-self:flex-start;
    justify-self: center;
    grid-row: span 3;
    max-width: 100%;
  }

  .btn-agregar-carrito {
    margin: 10%;
  }

  .aumentar-reducir {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }

  .agregar-al-carrito {
    grid-column: span 3;
  }

}

