@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Dancing+Script&family=Great+Vibes&family=Montserrat:ital,wght@0,100;0,400;0,500;1,400;1,700&family=Mr+Dafoe&family=Petit+Formal+Script&display=swap");
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-brand {
  font-family: "Petit Formal Script", "Times new roman";
  font-size: 1.85rem;
}

.carrito{
  width: 2rem;
}

.backgrownd-color{
  background-color: rgb(240, 240, 240);
}

.padding-superior{
  padding-top: 10%;
}

/* .card {
  justify-content: space-between;
} */

.card-img-top{
  max-width: 264px;
  max-height: 280px;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-detail img{
  max-width: 100%;
}


@media (min-width: 768px){

  .card-animation {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border: none;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.508);
  }

  .card-animation:hover{
    transform: scale(1.05);
    box-shadow: none;
    border-top: none;
  }

  .card {
    margin: 2%;
  }

  .card-text{
height: 168px;
    overflow: hidden;
  }

  .product-detail {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product-detail p {
    max-height: 190px;
    overflow:auto;
  }


  .product-detail img {
    align-self: center;
    justify-self: center;
    grid-row: span 4;
    height: 65vh;
  }

  .product-detail button {
    margin: 10%;
  }


}

