@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Dancing+Script&family=Great+Vibes&family=Montserrat:ital,wght@0,100;0,400;0,500;1,400;1,700&family=Mr+Dafoe&family=Petit+Formal+Script&display=swap");
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-brand {
  font-family: "Petit Formal Script", "Times new roman";
  font-size: 1.85rem;
}

.carrito{
  width: 2rem;
}
